<div *ngIf="isLoggedIn; else loginComponent">
	<div class="d-flex flex-column h-4rem w-100">
		<div class="custom-header-top row h-4rem mx-0">
			<div class="col-md-2 mt-2 mb-2 border-white-alpha-20 d-flex align-items-center">
				<p class="text-white mb-0 lead font-bold">Millenium Mall</p>
				<button style="height: 76%;" *ngIf="openAside" pButton pRipple type="button" icon="pi pi-arrow-left"
				class="p-0 bg-black-alpha-20 border border-white-alpha-60 ml-5" (click)="closeSideBar()"></button>
				<button style="height: 76%;" *ngIf="closeAside" pButton pRipple type="button" icon="pi pi-arrow-right"
				class="p-0 bg-black-alpha-20 border border-white-alpha-60 ml-5"  (click)="openSideBar()"></button>
				
			</div>
			<div class="col-md-7 d-flex justify-content-evenly rounded-5 border-1 border-white-alpha-20 mt-2 mb-2 bg-black-alpha-20 align-items-center">
				<p class="text-white mb-0 lead font-bold">SiteName</p>
				<p class="text-white mb-0 lead font-bold">{{currentDateTime}}</p>
			</div>
			<div class="col-md-3 ml-3 d-flex justify-content-evenly rounded-5 w-auto border-1 border-white-alpha-60 mt-2 mb-2 bg-black-alpha-20 align-items-center">
				<p class="text-white mb-0 mr-5 lead font-bold">Sami Uddin</p>
				<div class="line mr-4">
				</div>
				<p class="text-white mb-0 lead font-bold">Log Out</p>
			</div>
			
		</div>
	</div>
	<div class="d-flex container1">
		<div class="al-left">
		  <app-sidebar *ngIf="sidebarActive"></app-sidebar>
		</div>
		<div class="al-right container-fluid">
		  <router-outlet></router-outlet>
		</div>
	</div>
</div>
<ng-template #loginComponent>
	<div class="mt-5">
		<div class="mx-0 row justify-content-center">
		  <div class="col-md-6">
			<div class="card">
			  <div class="card-header">
				Login
			  </div>
			  <div class="card-body">
				<form>
				  <div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control form-control-sm col-md-12 pwd" id="username" [(ngModel)]="loginData.Email" name="username" required>
				  </div>
				  <div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control form-control-sm col-md-12 pwd" id="password" [(ngModel)]="loginData.Password" name="password" required>
				  </div>
				  <div class="d-grid">
					<button type="submit" (click)="login()" class="btn btn-primary">Login</button>
				  </div>
				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</ng-template>
<p-toast position="top-right"></p-toast>