<div id="default-sidebar">
	<aside id="sidebar" class="sidebar px-0">
    <div class="d-flex w-10" >
			<a class="logo d-flex align-items-center">
				<!-- <span class="d-none d-lg-block" style="color:white;letter-spacing: 78px;"><b>ERP</b></span> -->
			</a>
	</div>
    <ul class="sidebar-nav mt-5" id="sidebar-nav">	
        <li *ngIf="userType==1" class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#Helmet">
                <i class="pi pi-home"></i><span>DASHBOARD</span>
            </a>
        </li>
        <li *ngIf="userType==1" class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#Helmet" data-bs-toggle="collapse" href="#">
                <i class="pi pi-cog"></i><span>SERVICES</span>
            </a>
        </li>
        

                <!-- Main Dropdown (Finance) -->
        <li *ngIf="userType == 2 || userType == 1" class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#Finance" data-bs-toggle="collapse" href="#">
                <i class="pi pi-money-bill"></i><span>FINANCE</span><i class="pi pi-chevron-down ms-auto"></i>
            </a>
            <ul id="Finance" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                
                <!-- Nested Dropdown (Sales) -->
                <li *ngIf="userType == 2 || userType == 1" class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#Sales" data-bs-toggle="collapse" href="#">
                        <i class="pi pi-shopping-cart"></i><span>Sales</span><i class="pi pi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Sales" class="nav-content collapse" data-bs-parent="#Finance">
                        
                        
                        <a routerLink="/invoices" routerLinkActive="active">
                            <i class="fa fa-helmet-un"></i><span>Invoices</span>
                        </a>
                        <!-- <a routerLink="/recurringinvoices" routerLinkActive="active">
                            <i class="fa fa-helmet-un"></i><span>Recurring Invoices</span>
                        </a> -->
                        <a routerLink="/paymentreceived" routerLinkActive="active">
                            <i class="fa fa-helmet-un"></i><span>Payment Receipt</span>
                        </a>
                        <a routerLink="/creditnotes" routerLinkActive="active">
                            <i class="fa fa-helmet-un"></i><span>Credit Notes</span>
                        </a>
                    </ul>
                    <a class="nav-link collapsed" data-bs-target="#Purchases" data-bs-toggle="collapse" href="#">
                        <i class="pi pi-shopping-cart"></i><span>PURCHASES</span><i class="pi pi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Purchases" class="nav-content collapse" data-bs-parent="#Finance">
                        
                        <a routerLink="/expenses" routerLinkActive="active">
                            <i class="fa fa-helmet-un"></i><span>Purchase Expenses</span>
                        </a>
                        <a routerLink="/purchaseorder" routerLinkActive="active">
                            <i class="fa fa-helmet-un"></i><span>Purchase Order</span>
                        </a>
                    </ul>
                </li>
            </ul>
            
        </li>
        <li *ngIf="userType==2||userType==1" class="nav-item"
            >
            <a class="nav-link collapsed" data-bs-target="#Tracking" data-bs-toggle="collapse" href="#">
                <i class="pi pi-info-circle"></i><span>DETAILS</span><i
                    class="pi pi-chevron-down ms-auto"></i>
            </a>
            <ul id="Tracking" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                
                <li>
                    <a routerLink="/customers" routerLinkActive="active">
                        <i class="fa fa-helmet-un"></i><span>Customers</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/vendors" routerLinkActive="active">
                        <i class="fa fa-helmet-un"></i><span>Vendors</span>
                    </a>
                </li>
                <li >
                    <a routerLink="/shop-list" routerLinkActive="active">
                        <i class="fa fa-helmet-un"></i><span>View Shops</span>
                      </a>
                </li>
              
            </ul>
        </li>
        
        <li *ngIf="userType==3||userType==1" class="nav-item"
            >
            <a class="nav-link collapsed" data-bs-target="#report" data-bs-toggle="collapse" href="#">
                <i class="pi pi-book"></i><span>REPORT</span><i class="pi pi-chevron-down ms-auto"></i>
            </a>
            <ul id="report" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li >
                    <a routerLink="/rnt-shp" routerLinkActive="active">
                        <i class="pi pi-map-marker"></i><span>Shop Rent Received Report </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/un-rnt-shp" routerLinkActive="active">
                        <i class="fa-solid fa-message"></i><span>Shop Rent Pending Report</span>
                    </a>
                </li>
                <li >
                    <a routerLink="/rpt-income" routerLinkActive="active">
                        <i class="fa-solid fa-message"></i><span>Income Report</span>
                    </a>
                </li>
                <li >
                    <a routerLink="/rent-list" routerLinkActive="active">
                        <i class="fa fa-helmet-un"></i><span>View Rent Detail</span>
                      </a>
                </li>
            </ul>
        </li>

        <li *ngIf="userType==1" class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#Helmet" data-bs-toggle="collapse" href="#">
                <i class="pi pi-user"></i><span>Users</span><i class="pi pi-chevron-down ms-auto"></i>
            </a>
            <ul id="Helmet" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a class="nav-link" routerLink="/user-form" routerLinkActive="active">
                        <i class="fa fa-helmet-un"></i><span>Create User</span>
                      </a>
                </li>
                <div>
                    <li>
                        <a routerLink="/user-list" routerLinkActive="active">
                            <i class="fa fa-helmet-un"></i><span>View Users</span>
                          </a>
                    </li>
                </div>
                
            </ul>
        </li>

    </ul>
	</aside>
</div>